html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    font-family: Book Antiqua, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d1d3d6;
}

h2 {
    color: #000000;
}

header {
    background: linear-gradient(135deg, #9ecc34 0%, #d8442a 100%);
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0 0 20px 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: rgba(226, 190, 29, 0.8);
    padding: 10px 75px;
    box-shadow: 0 2px 8px rgba(30, 45, 114, 0.15);
    border: 2px solid #000000;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    display: inline-block;
    border-radius: 500px;
    margin: 20px;
}

nav a:hover {
    background: #dbae19;
    color: #ddd8d8;
    box-shadow: 0 4px 16px rgba(50, 50, 51, 0.25);
}

main {
    padding: 20px;
}

footer {
    background-color: #303030;
    text-align: center;
}

#titre_principal {
    color: #ffffff;
}

#présente {
    background: linear-gradient(90deg, #dd5c5c 30%, #be7e7e 70%);
    color: #000000;
    border: 5px solid #ff0000;
    max-width: 1000px;
    margin: 0 auto 70px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 40px 20px rgba(0,0,0,0.12);
    text-align: center;
}

#propos {
    background: linear-gradient(90deg, #5cdd8c 30%, #7ebe9a 70%);
    color: #000000;
    border: 5px solid #45d87b;
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 40px 20px rgba(0,0,0,0.12);
    text-align: center;
}

#Compétences {
    background: linear-gradient(90deg, #e29945 30%, #dacf6d 70%);
    color: #000000;
    border: 5px solid #e09136;
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 40px 20px rgba(0,0,0,0.12);
    text-align: center;
}

#Qualités {
    background: linear-gradient(90deg, #9d5ee6 30%, #93b9ce 70%);
    color: #000000;
    border: 5px solid #9349e7;
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 40px 20px rgba(0,0,0,0.12);
    text-align: center;
}

#Qualités:hover,
#Compétences:hover,
#présente:hover,
#propos:hover {
    transform: scale(1.05);
}

#pdp {
    border-radius: 40px;
    border: 3px solid #000000;
}

#outer {
    border-radius: 500px;
    border: 3px solid #000000;
    margin-right: 40px;
}

#bad {
    border-radius: 500px;
    border: 3px solid #000000;
    margin-left: 0px;
}

.compete {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comp {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(90deg, #23c3eb 30%, #3fdbc1 70%);
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 0 20px 10px rgba(0,0,0,0.12);
    text-align: center;
}

#font {
    font-family: Snell Roundhand, cursive;
}

#font2 {
    font-family: Papyrus, fantasy;
}

#font3 {
    font-family: Cursive, sans-serif;
}